// ==============================
// Custom fonts
// ==============================

@font-face {
  font-family: 'Rajdhani';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../lib/fonts/Rajdhani-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Rajdhani';
  font-weight: 600;
  font-style: semi-bold;
  font-display: swap;
  src: url(../lib/fonts/Rajdhani-SemiBold.ttf) format('truetype');
} 

@font-face {
  font-family: 'Rajdhani';
  font-weight: 700;
  font-style: bold;
  font-display: swap;
  src: url(../lib/fonts/Rajdhani-Bold.ttf) format('truetype');
} 

// @import url('https://fonts.googleapis.com/css?family=Rajdhani:500,600,700&display=swap');
