/**Footer**/
.copyright {
  font-size: .875rem;
  background: $header-background-color;

  .dark-theme & {
    background: $header-background-color-dark;
  }

  .copyright-line {
    width: 100%;

    .icp-br {
      display: none;
    }
  }
}

@import "_newsletter";