.newsletter {
  width: 90%;
  background: $header-background-color;
  padding: 1rem 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  [theme=dark] & {
    background: $header-background-color-dark;
  }

  .newsletter-title {
    flex-grow: 1;
    font-size: 1.4rem;
  }

  .newsletter-form {
    flex-grow: 1;

    .ml-form-embedWrapper, .embedForm {
      background: $header-background-color !important;

      [theme=dark] & {
        background: $header-background-color-dark !important;
      }
    }

    .form-control  {
      background: $global-background-color !important;
      border: 1px solid $global-border-color !important;
      color: $global-font-color !important;

      &::placeholder {
        color: $global-font-color !important;

        [theme=dark] & {
          color: $global-font-color-dark !important;
        }
      }
  
      [theme=dark] & {
        background: $global-background-color-dark !important;
        border: 1px solid $global-border-color-dark !important;
        color: $global-font-color-dark !important;
      }
    }

    button.primary {
      border: 1px solid $global-font-color !important;

      [theme=dark] & {
        border: 1px solid $global-font-color-dark !important;
      }
    }

    .ml-form-successContent > h4 {
      color: $global-link-hover-color !important;
      font-family: $global-font-family !important;
      font-size: 20px !important;
    }
    .ml-form-successContent > p {
      color: $global-link-hover-color !important;
      font-family: $global-font-family !important;
      font-size: $global-font-size !important;
    }
  }
  
  .newsletter-info {
    flex-grow: 2;
    font-size: 0.9rem;
  }
}
