<div class="newsletter" id="newsletter">
    <h4 class="newsletter-title">Pobierz materiały do nauki C++17</h4>
    <div class="newsletter-form">
        <div class="ml-form-embed"
             data-account="1867098:a0j3g0e1f2"
             data-form="1756746:o5h8s2">
        </div>
    </div>
    <div class="newsletter-info">Zapisz się na newsletter i <strong>otrzymaj materiały do nauki nowoczesnego C++</strong>. Co jakiś czas przesyłam też darmowe fragmenty lekcji lub webinarów, dzięki którym C++ nie będzie aż taki trudny.<br>Zapoznaj się z naszą <a href="/polityka-prywatnosci">polityką prywatności</a>.</div>
</div>