{{- define "content" -}}
    <div class="page home">
        {{- /* Profile */ -}}
        {{- if .Site.Params.home.profile.enable -}}
            {{- partial "home/profile.html" . -}}
        {{- end -}}

        <div style="display: flex;
                    justify-content: space-around;
                    flex-flow: row wrap;">
            <h4 style="display: block;
                       min-width: 200px;
                       padding: 15px 25px;
                       border: 1px solid white;
                       border-radius: 5px;
                       text-align: center;
                       background-color: #8B3536;">
                <a href="/o-nas/">Poznaj nas lepiej</a>
            </h4>
            <h4 style="display: block;
                       min-width: 200px;
                       padding: 15px 25px;
                       border: 1px solid white;
                       border-radius: 5px;
                       text-align: center;
                       background-color: #8B3536;">
                <a href="/kurs-online">Obczaj nasz kurs C++ online</a>
            </h4>
        </div>

        {{- /* Posts */ -}}
        {{- if ne .Site.Params.home.posts.enable false -}}
            {{- /* Paginate */ -}}
            {{- $paginator := where .Site.RegularPages "Type" "posts" -}}
            {{- if ne .Site.Params.home.posts.mode.defaultHiddenFromHomePage false -}}
                {{- $paginator = where $paginator "Params.hiddenfromhomepage" "!=" true -}}
            {{- else -}}
                {{- $paginator = where $paginator "Params.hiddenfromhomepage" false -}}
            {{- end -}}
            {{- with .Site.Params.home.posts.paginate -}}
                {{- $paginator = $.Paginate $paginator . -}}
            {{- else -}}
                {{- $paginator = $.Paginate $paginator -}}
            {{- end -}}
            {{- range $paginator.Pages -}}
                {{- .Render "summary" -}}
            {{- end -}}
            {{- partial "paginator.html" . -}}
        {{- end -}}
    </div>
{{- end -}}
